<h1>Danh sách sản phẩm</h1>
<button routerLink="/products/create">Add sản phẩm</button>
<div class="container">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>image</th>
      <th>category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products, index as i">
      <td>{{i +1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><img src="http://localhost:8080/image/{{product.image}}" style="width: 150px; height: auto" ></td>
      <td>{{product.category?.name}}</td>
      <td>
        <button routerLink="/products/edit/{{product.id}}">edit</button>
      </td>
      <td>
        <button routerLink="/products/delete/{{product.id}}">delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
